#footer {
    margin-top: 100px;
    padding: 20px 100px;
    background-color: #fff;
}

#footer ul {
    list-style-type: none;
    margin-left: -35px;
}

.copyright {
    margin-top: 25px;
    font-size: 12px;
}