<div id="footer">

  <div fxLayout="row" fxLayout.lt-md="column">

    <div fxFlex.gt-sm="20">
      <strong>CareDash</strong>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a></li>
        <li>
          <a href="#">Write a Review</a>
        </li>
      </ul>
    </div>
  
    <div fxFlex.gt-sm="20">
      <strong>Specialists</strong>
      <ul>
        <li>
          <a href="#">Primary Care Physicians</a>
        </li>
        <li>
          <a href="#">Pediatricians</a>
        </li>
        <li>
          <a href="#">Optometrists</a>
        </li>
        <li>
          <a href="#">Dentists</a>
        </li>
      </ul>
    </div>
  
    <div fxFlex.gt-sm>
      <strong>Follow Us</strong>
      <div fxLayoutGap="10px" style="padding-top: 1em;">
        <button mat-mini-fab color="primary">F</button>
        <button mat-mini-fab color="primary">T</button>
        <button mat-mini-fab color="primary">I</button>
        <button mat-mini-fab color="primary">P</button>
      </div>
    </div>

  </div>

  <div class="copyright">
    (c) Copyright 2018 CareDash
  </div>
</div>