<mat-card>
  <h2 class="center-text">Sign Up with CareDash to Edit your Provider Profile</h2>

  <form fxLayout="column">
    <mat-form-field>
      <input type="text" matInput placeholder="First Name" required>
    </mat-form-field>
  
    <mat-form-field>
      <input type="text" matInput placeholder="Last Name" required>
    </mat-form-field>
  
    <mat-form-field>
      <input type="text" matInput placeholder="Email Address" required>
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" matInput placeholder="Password" required>
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" required>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary">Sign Up</button>
      <button mat-raised-button>Login</button>
    </div>
  </form>
</mat-card>