<cd-navbar></cd-navbar>

<div class="container">
  <div fxLayout="row" fxLayoutGap="15px" fxLayout.lt-md="column">
    <mat-card class="content" fxFlex="70">
      
    </mat-card>
  
    <cd-sign-up fxFlex></cd-sign-up>
  </div>

  <h2 class="center-text">Reasons to Sign Up as a Provider on CareDash</h2>

  <div fxLayout="row" fxLayoutGap="50px" fxLayout.lt-md="column">
    <cd-headline fxFlex></cd-headline>
    <cd-headline fxFlex></cd-headline>
    <cd-headline fxFlex></cd-headline>
  </div>
</div>

<cd-footer></cd-footer>