<div class="headline">
  <div class="headline-img"></div>
  
  <h3>Headline</h3>
</div>

<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue elementum dui id euismod. Duis tortor lorem,
euismod sed dapibus sed, finibus at lacus. Curabitur venenatis consequat interdum. Etiam neque lacus, rutrum non
laoreet a, gravida vitae justo. Vivamus ultricies felis at sem laoreet, condimentum fermentum augue ornare.</div>

<button mat-raised-button style="margin-top: 10px;">Learn More</button>