/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    font-family: Roboto;
    background-color: #e7e7e7;
}

.center-text {
    text-align: center;
}

@media only screen  and (min-width : 1224px) {
    html, body { 
        margin: 0;
    }
}

.mat-drawer-container {
    background-color: #e7e7e7;
}